<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings> 
    <add key ="IP" value="127.0.0.1"/>
    <add key ="PORT" value="3306"/>
    <add key ="DBNAME" value="test"/>
    <add key ="USERID" value="root"/>
    <add key ="USERPASSWORD" value="1245780"/>


  </appSettings>
</configuration>